name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get install u-boot-tools -y

    - name: build
      run: ./build.sh

    - uses: actions/upload-artifact@v5.0.0
      with:        
        path: ./build/bin
